<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Comando do Rele</title>
    <link rel="stylesheet" href="css/style.css">
    <script>
        window.addEventListener('DOMContentLoaded', () => {
        const ligar = document.getElementById('ligar');

        ligar.addEventListener('click', () => {
            console.log('botão clicado');
            window.location.href = '/ligar'; // Redireciona para '/ligar'
            });
        });
    </script>
</head>
<body>
    <h1>Teste do comando do rele pelo ESP8266</h1>

    <button id='ligar'>Ligar</button>
    <button id="desligar">Desligar</button>

</body>
</html>